* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tittle {
    background-color: #dccbad;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 80px;
}

.logo-container {

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: 10px; /* espacio entre el logo y el texto */
    text-align: center;
}

.logo-container p {
    font-size: 60px;
    font-weight: bold;
    color: #333; /* O el color que prefieras */
    font-family: 'Times New Roman', Times, serif; 
}


/* Contenedor de los íconos alineado a la derecha */
.icons {
    display: flex;
    gap: 20px;
    align-items: center;
    position: absolute;
    right: 20px;
}

/* Catálogo de navegación */
.navbar {
    background-color: #d38646;
    padding: 25px 0 15px 0;
}

/* Menú de navegación */
.navbar_menu {
    display: flex;
    margin: 10px 30px;
    gap: 40px;
}

.navbar_menu a {
    font-size: 25px;
    color: #ffffff;
    text-decoration: none;
}

/* Línea decorativa debajo de "Nuevo" */
.navbar_menu hr {
    margin: 10px auto;
    width: 100%;
    height: 3px;
    background-color: #ffffff;
}

/* Título del catálogo */
.catalogo h1 {
    font-family: 'Times New Roman', Times, serif; 
    text-align: center;
    background-color: #620F20;
    color: #ffffff;
    font-size: 40px;
    margin-bottom: 25px;
}

.content_personalizacion {
    background-color: #d4b79b;
    display: flex;
    justify-content: center;
}

.content_personalizacion table {
    margin: 25px;
    border-collapse: separate;
    border-spacing: 30px 20px; 
}

.content_personalizacion td {
    width: 300px;
    height: 200px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
    vertical-align: middle;
    padding: 10px;
}

footer {
    background-color: #dccbad;
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.content_footer {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra todo horizontalmente */
    gap: 10px;
}

.content_footer .footer_icons {
    display: flex;
    justify-content: center;
    gap: 20px; /* Espacio entre íconos */
}

.content_footer p {
    margin: 0;
    font-size: 16px;
    color: #333;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}


